span {
    white-space: nowrap;
}
span:hover {
    background-color: #F1F1F1;
}
body {
    width : 300px;
}
dir dir {
    display: none;
}
dir li:hover > dir {
    display: block;
}
dir {
    list-style: square;
    list-style-position: inside;
    position: relative;
    display: inline-table;
    margin-top: 0px;
    margin-bottom: 0px;
}
dir:after {
    clear: both;
    display: block;
}
dir li:hover {
}
dir li:hover span {
}
dir li span {
    text-decoration: none;
}
js {
    display: none;
}
#popupMenu {
    margin-top: -10px;
    margin-left: -35px;
}

